* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
@font-face {
font-family: "Vonique"; 
src: url("fonts/Vonique-43_F.ttf");
font-style: normal; 
font-weight: normal; 
} 
html, body {
	height: 100%;
}
h1 {
	font-family: Arial;
}
p {
font-family: "Vonique";
}
.height {
	display: flex;
	width: 90%;
	justify-content: center;
	flex-wrap: wrap;
}
.img_div {
	margin-left: 5%;
}
.img_div_0 {
	margin-left: 10%;
	margin-top: 3vw;
}
.img_div_3, .img_div4, .img_div_1 {
	margin-left: 3%;
	margin-top: 2vw;
}
.ghy {
	display: flex;
}
.img_div4, .img_div_1 {
	padding-left: 5%;
}
.head {
	display: flex;
	margin-top: 50px;
	background: url("img/__medium___medium_Wikimania_hackathon_2.JPG.jpg.jpg") no-repeat;
	width: 100%;
	height: 600px;
	background-size: 100% auto;
	background-position: center;
}
.vved {
	opacity: 0;
	transform: translateY(20px);
}
.vved.vved-show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.main_1 {
	flex-direction: column;
}
.aero_div{
	text-align: center;
	width: 110%;
	height: 100px;
	margin-left: 10%;
	background-color: #FFF7AB;
}
.hack_div {
	text-align: center;
	margin-top: 200px;
	width: 60%;
	height: 100px;
	margin-left: 10%;
	background-color: #FFF7AB;
}
.sdvig {
	padding-top: 150px;
}
.it-fest_div {
	text-align: center;
	width: 60%;
	height: 100px;
	margin-left: 60%;
	background-color: #E8C1EE;
}
.web_div {
	text-align: center;
	width: 110%;
	height: 100px;
	margin-left: 30%;
	background-color: #E8C1EE;
}
.sdvig1 {
	padding-top: 50px;
}
.sdvig2 {
	padding-top: 200px;
}
.hack, .aero, .web, .it-fest{
	padding-top: 10px;
	font-size: 4vw
}
.vved {
	display: flex;
} 
.vved_text {
	font-size: 2.5vw;
	font-family: "Vonique";
	padding-left: 5%;
}
.vved_p {
	width: 40%;
	height: 17vw;
	background-color: #FFF7AB;
	margin-top: 200px;
	margin-left: 5%;
}
.img {
	width: 40%;
	height: 100px;
	margin-left: 10%;
	margin-top: 50px;
}
.card {
	border-radius: 5%;
}
.banner {
	opacity: 0;
	transform: translateY(20px);
	width: 90%;
	margin-left: 5%;
	text-align: center;
	margin-top: 250px;
}
.banner.banner_show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.banner_p {
	font-size: 3vw;
}
.line {
	width: 90%;
	margin-left: 5%;
	height: 5px;
	background-color: #90AAED;
}
.otbor {
	width: 40%;
	height: 10vw;
	background-color: #658DF6;
	margin-left: 53%;
	margin-top: 50px;
}

.otbor-div {
	width: 40%;
	height: 10vw;
	background-color: #90AAED;
	margin-left: 50%;
	margin-top: -120px;

}
.vot-tak {
	display: flex;
	flex-direction: column;
	opacity: 0;
	transform: translateY(20px);
}
.vot-tak.vot-tak-show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.ttitle {
	font-size: 1.7vw;
	padding-left: 5%;
	color: white;
}
.d_job {
	font-size: 2.7vw;
	margin-left: 5%;
}
.s_job {
	opacity: 0;
	transform: translateY(20px);
	margin-top: 100px;
}
.s_job.s_job-show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.spisok_1 {
	opacity: 0;
	transform: translateX(20px);
	width: 80%;
	margin-left: 5%;
	height: 4vw;
	background-color: #C6E9C3;
	margin-top: 100px;
}
.spisok_1.spisok_1-show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}
.s1 {
	color: white;
	padding-top: 10px;
	font-size: 2.3vw;
	margin-left: 3%;

}
.s1:hover {
	color: grey;
}
.spisok_2 {
	opacity: 0;
	transform: translateX(20px);
	width: 80%;
	margin-left: 5%;
	height: 4vw;
	background-color: #F5DCF5;
	margin-top: 50px;

}
.spisok_2.spisok_2-show {
	opacity: 1;
  transition: all 2.5s;
  transform: translateX(0%);
}
.spisok_3 {
	opacity: 0;
	transform: translateX(20px);
	width: 80%;
	margin-left: 5%;
	height: 4vw;
	background-color: #DCE6F5;
	margin-top: 50px;
}
.spisok_3.spisok_3-show {
	opacity: 1;
  transition: all 3.5s;
  transform: translateX(0%);
}
.line_1 {
	width: 90%;
	margin-left: 5%;
	height: 5px;
	background-color: #396DF2;
	margin-top: 150px;
}
.atup {
	display: flex;
	flex-direction: column;
}
.atup_p {
	width: 50%;
	margin-left: 8%;
	z-index: 10;
	margin-top: 130px;
	margin-left: 11%;
}
.atup_p1 {
	font-size: 1.7vw;
}
.atup1 {
	height: 200px;
	width: 50%;
	background-color: #F5DCF5;
	margin-left: 8%;
	z-index: 5;
	margin-top: -180px;
}
.utap2 {
	height: 200px;
	width: 50%;
	background-color: #FC9CFE;
	margin-top: -150px;
	margin-left: 5%;
}
.judges_p {
	width: 10%;
	height: 70px;
	background-color: #FFF7AB;
	margin-left: 10%;
	margin-top: 150px;
	text-align: center;
}
.judges_h1 {
	font-size: 3vw;
}
.judges {
	display: flex;
	flex-direction: column;
}
.names {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	margin-left: 5%;
	padding-top: -150px;
}
}
.j_img {
	display: inline;
}
.img_s {
	margin-top: 80px;
	width: 50%;
	margin-left: 3%;
	z-index: 5;
}
.photo {
	height: 70px;
	width: 50%;
	background-color: #FFF7AB;
	margin-left: -18%;
	margin-top: 50px;
}
.judges_1 {
	display: flex;
}
.rty {
margin-top: 80px;
width: 90%;
margin-left: 10%;
}
.ghjhj {
	font-size: 1.5vw;
}
.bnm{
	margin-top: 40px;
	margin-left: 3%;
}
.
.rty1 {
	margin-top: -250px;
}
.rti {
	margin-left: 10%;
}
.bnm3 {
	margin-left: -25%;
}
.bnm4 {
	height: 70px;
	width: 50%;
	background-color: #FFF7AB;
	margin-left: -17%;
	margin-top: 50px;
}
.line_4 {
	width: 90%;
	margin-left: 5%;
	height: 5px;
	background-color: #90AAED;
	margin-top: 30px;
}
.poded {
	font-size: 4vw;
	margin-top: 100px;
}
.mests {
	text-align: center;
	margin-top: 100PX;
	background-color: #90AAED;
	width: 50%;
	height: 5vw;

}
.sass {
	font-size: 2vw;

}
.pod {
	font-size: 4vw;
}
.pobeda {
	display: flex;
	flex-direction: column;
}
.names_pob {
	margin-top: 50px;
	display: flex;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
.sd1, .sd2, .sd3 {
	width: 20%;
	
} 
.sd1 {
	margin-top: 7vw;
	
}
.sd2 {
	margin-top: 3vw;
	margin-left: 20%;
}
.sd3 {
	margin-top: 5vw;
	margin-left: 20%;
}
.mests_div {
	margin-top: 0px;
	display: flex;
	width: 80%;
	margin-left: 10%;
}
.mests_3 {
	margin-top: 5vw;
	text-align: center;
	height: 10vw;
	width: 20%;
	background-color: #DCE6F5;
}
.shadow_p {
	margin-top: -13vw;
	width: 70%;
	height: 6vw;
	background-color: #FFF7AB;
	margin-left: 7%;
}
.dad {
	font-size: 2vw;
}
.mests_3_p_d {
	margin-top: 0.5vw;
}
.mests_3_p {
	margin-top: 1vw;
}
.mests_1 {
	width: 20%;
	height: 15vw;
	text-align: center;
	background-color: #C6E9C3;
	margin-left: 20%;
}
.mests_1_p {

}
.rty8 {
	margin-top: -10vw;
}
.rty9 {
	margin-top: -9vw;
}
.mests_1_p_d {
	margin-top: 3vw;
}
.mests_1_p {
	margin-top: 3vw;
}

.mests_2 {
	width: 20%;
	text-align: center;
	background-color: #F5DCF5;
	margin-left: 20%;
	height: 13vw;
	margin-top: 2vw;
}
.mests_2_p_d {
	margin-top: 2vw;
}
.mests_2_p {
	margin-top: 2vw;
}
.line_5	{
	width: 90%;
	margin-left: 5%;
	height: 5px;
	background-color: #90AAED;
	margin-top: 100px;
}
footer {
	margin-top: 100px;
	height: 20vw;
	width: 100%;
	background-color: #B0ABAB;
	display: flex;
}
.p_foot {
	padding-top: 4vw;
	width: 40%;
	margin-left: 10%;
}
.fg_foot {
	font-size: 1.5vw;
}
.qwery {
	font-size: 1.5vw;
	color: black;
}
.regl_1 {
padding-top: 5vw;
padding-left: 20%;
}
.regl {
	border-radius: 20px;
text-align: center;
width: 110%;
height: 3vw;
background-color: #DCE6F5;
}
.qwery:hover {
	font-size: 1.5vw;
	color: grey;
}
.vbnm {
	opacity: 0;
  transform: translateY(20px);
}
.vbnm.vbnm-show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.asdfg {
	opacity: 0;
  transform: translateY(20px);
}
.asdfg.asdfg-show {
	opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
@media all and (max-width: 770px) {
 .main_2 {
 	padding-top: 5vw;
 }
 .bnm5 {
 	height: 6vw;
 }
 .otbor {
 	margin-top: 20vw;
 }
 .atup1{
margin-top: -10vw;
 }
 .atup1, .utap2 {
 	height: 20vw;
 }
 .utap2 {
 	margin-top: -14vw;

 }
 }
 @media all and (max-width: 650px) {
 .main_2 {
 	padding-top: 20vw;
 }
 .bnm5 {
 	height: 6vw;
 }
 }
