
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
@font-face {
font-family: "Vonique"; 
src: url("fonts/Vonique-43_F.ttf");
font-style: normal; 
font-weight: normal; 
} 
html, body {
	height: 100%;
}
h1 {
	font-family: Arial;
}
p {
font-family: "Vonique";
}
.height {
	display: flex;
	width: 90%;
	justify-content: center;
	flex-wrap: wrap;
}
.img_div {
	margin-left: 5%;
}
.img_div_0 {
	margin-left: 10%;
	margin-top: 3vw;
}
.img_div_3, .img_div4, .img_div_1 {
	margin-left: 3%;
	margin-top: 2vw;
}
.ghy {
	display: flex;
}
.img_div4, .img_div_1 {
	padding-left: 5%;
}
.main-title {
text-align: center;
width: 100%;
}
.main_h1 {
	margin-top: 150px;
	font-size: 6vw;
	font-family: Arial;
}
.date_p {
	font-family: Arial;
	font-size: 2.4vw;
	text-align: center;
}
.date {
	margin-top: 70px;
	width: 24%;
	height: 70px;
	background-color: #E29E9E;
	margin-left: 38%;
}
.banner {
	opacity: 0;
  	transform: translateY(20px);
	width: 100%;
	background: url("img/01 (1) (1).jpg") no-repeat;
	height: 600px;
	background-size: 100% auto;
	background-position: center;
	text-align: center;
	margin-top: 200px;
}
.banner.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
  width: 100%;
}
.bnm {
	color: white;
	font-size: 4.8vw;
	font-family: Arial;
	padding-top: 100px;
}

.mera {
	margin-top: 100px;
	opacity: 0;
  transform: translateY(20px);
}
.mera.mera-name {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.title_1 {
	width: 69%;
	height: 300px;
	background-color: #2D68BF;
	margin-left: 5%;

}
.float {
	display: flex;

}
.asd {
	padding-top: 30px;
	font-size: 5.9vw;
	padding-left: 3%;
}
.it {
	font-family: "Vonique";
	transform: rotate(90deg);
	font-size: 3vw;
	}
.web {
	font-size: 3vw;
	padding-left: 5%;
	padding-top: 40px;
}
.nm1 {
	width: 5%;
	margin-left:12%;
	margin-top: -15%;
}
.float_2 {
	display: flex
}
.date_2 {
	font-size: 3vw;
}
.date_div {
	width: 17%;
	margin-left: 5%;
	margin-top: 30px;
}
.text {
	height: 380px;
	width: 75%;
	background-color: #779CD2
}
.texts {
	font-size: 2vw;
	padding-left: 2%;
	padding-top: 10px;
}

.btn {
	border-radius: 25px;
	border: none;
	font-size: 3vw;
	height: 70px;
	width: 25%;
	background-color: #2D68BF;
	margin-left: 60%;
	margin-top: 30px;
	cursor: pointer;
}
.btn:active, .btn:focus {
  outline: none;
}
.rus_title {
	font-size: 6vw;
	color: white;
	margin-top: -15px;
	font-family: Arial;
}
.rus_kosmos {
	opacity: 0;
	margin-top: 200px;
	background-color: #000000;
	width: 100%;
	height: 700px;
}
.rus_kosmos.rus_kosmos_show {
	opacity: 1;
  	transition-duration: 2s;
}
.divf {
	padding-top: 50px;
	margin-left: 5%;
}
.div-rus {
	text-align: center;
	border: 10px solid white;
	width: 65%;
	height: 100px;
}

.rus_text {
	color: white;
	font-size: 2vw;
	margin-top: 50px;
}
.rus_text_center {
	width: 90%;
	margin-left: 5%;
}

.btn_rus {
background-color: white;
border-radius: 25px;
border: none;
font-size: 3vw;
height: 70px;
width: 25%;
margin-left: 5%;
margin-top: 30px;
cursor: pointer;

}
.btn_rus:active, .btn_rus:focus {
  outline: none;
}

footer {
	margin-top: 100px;
	height: 20vw;
	width: 100%;
	background-color: #B0ABAB;
	display: flex;
}
.p_foot {
	padding-top: 4vw;
	width: 40%;
	margin-left: 10%;
}
.fg_foot {
	font-size: 1.5vw;
}
.qwery {
	font-size: 1.5vw;
	color: black;
}
.regl_1 {
padding-top: 5vw;
padding-left: 20%;
}
.regl {
	border-radius: 20px;
text-align: center;
width: 110%;
height: 3vw;
background-color: #DCE6F5;
}
.qwery:hover {
	font-size: 1.5vw;
	color: grey;
}


@media all and (max-width: 1060px) {
 .img_div_1 {
 	margin-left: 10%;
 }
 .date {
 	height: 40px;
 }
 .title_1 {
 	height: 200px;
 }
 .text {
		height: 270px;
	}
.rus_title {
	margin-top: 15px;
}
.rus_kosmos {
	height: 500px;
}
 }
 @media all and (max-width: 770px) {
 .img_div_1 {
 	margin-left: 5%;
 	}
 	.title_1 {
	height: 150px;
}
.date {
 	height: 20px;
 }
.btn {
	height: 40px;
}
	.text {
		height: 200px;
	}
 }